# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic
*.db

# Docker
postgres_data/

# macOS
.DS_Store

# Windows
Thumbs.db

# Frontend
node_modules/
dist/
frontend/node_modules/
frontend/dist/
