fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
alembic
python-dotenv
psycopg2-binary
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
passlib[bcrypt]
python-multipart